html, body {
  height: 100%;
}

body:not(.terminal-body) {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $body-bg;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.dark-mode {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}


*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

* {
  overflow: -moz-scrollbars-none;
}


h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}


a {
  color: $brand-color;
  text-decoration: none;

  &.dark-mode {
    color: $brand-color-dark;
  }
}

a:hover{
  color: $text-color;

  &.dark-mode {
    color: $text-color-dark;
  }

}

p a:not(.none) {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: -moz-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);

  -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);


  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
  &:hover {
    color: lighten($background-color, 50%);
    -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
  }
}

p a:not(.none).dark-mode {
  color: $text-color-dark;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color-dark, 10%) 10%);
  background: -moz-linear-gradient(transparent 90%, lighten($brand-color-dark, 10%) 10%);
  background: linear-gradient(transparent 90%, lighten($brand-color-dark, 10%) 10%);

  -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color-dark, 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color-dark, 10%);

  &:hover {
    color: lighten($body-bg-dark, 50%);
    -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color-dark, 10%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color-dark, 10%);
  }
}

a.none {
  color: inherit;
  text-decoration: none;
  cursor: context-menu;
  line-height: 0;

  &:hover {
    color: inherit;
    text-decoration: none;
    cursor: context-menu;
  }

  &.dark-mode {
    color: inherit;
  }
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }

  &.dark-mode{
    border: 1px solid $brand-color-dark;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;

  &.dark-mode{
    border-left: 2px solid $brand-color-dark;
  }
}


.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;

  @include media-query($on-palm) {
    font-size: 2em;
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 1em;
}

/* Horizontal scrolling navbar. From: https://iamsteve.me/blog/horizontal-scrolling-responsive-menu */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }


/* Button */
.simplebutton {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 3px solid $text-color;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: $background-color;
  color: $text-color;

  &:hover {
    border-color: $background-color;
    background: $text-color;
    color: $background-color;
  }
}

.simplebutton.dark-mode{
  border: 3px solid $text-color-dark;
  background: $body-bg-dark;
  color: $text-color-dark;

  &:hover{
    border-color: $body-bg-dark;
    background: $text-color-dark;
    color: $body-bg-dark;
  }
}

.password {
  padding: 10px;
  width: 250px;
  border: none;
  border-bottom: 3px solid $text-color;
  border-radius: 0;
  background: none;
  color: $text-color;

  &.dark-mode{
    border-bottom: 3px solid $text-color-dark;
    color: $text-color-dark;
  }
}

#submit-button {
  text-align: center;
  min-width: 160px;
  width: max-content;
  cursor: pointer;
}

/* Article list in blog and archive page */
.article-list {
  margin: 1em 0;
}

.cert-container{
  /* border-bottom: 4px solid black; */
  padding: 5px 0px;
  gap: 10px;
}

.cert-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cert-category{
  font-size: 0.7rem;
  border: 3px dashed $brand-color;
  border-radius: 5px;
  padding: 3px;

  min-width: 60px;
  text-align: center;

  &.dark-mode{
    border: 3px dashed $brand-color-dark;
  }
}

.img-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.img-container.open {
  max-height: 400px; /* or some value larger than the content */
}

.cert-img{
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.toggle-button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-align: center;
}

#mode-btn{
  text-align: center;
}

.terminal-body *{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

  font-family: $base-font-family;
}

.terminal-body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  margin: 0;

  background-color: $background-color;
  color: $text-color;

  &.dark-mode{
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}

.terminal-nav{
  width: 100%;
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}

.terminal-nav > div{
  height: 60px;
  width: 30%;
}

.timer, .time-digit, .logo{
  display: flex;
  align-items: center;

  gap: 5px;
}

.timer{
  justify-content: left;
}

.logo, .logo div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mode-toggle{
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.time-digit {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.time-digit input {
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  font-size: $base-font-size;
  color: $text-color;
  border-bottom: 3px solid $brand-color;

  &.dark-mode{
    color: $text-color-dark;
    border-bottom: 3px solid $brand-color-dark;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.main-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 1rem 0;
}

.main-content > div{
  width: 30%;
  height: 100%;

  border: 3px solid $text-color;
  border-radius: 10px;
  padding: 10px;

  &.dark-mode{
    border: 3px solid $text-color-dark;
  }
}

.main-content > div > h4{
  width: 100%;
  border-left: 5px solid $brand-color;
  padding-left: 10px;

  &.dark-mode{
    border-left: 5px solid $brand-color-dark;
  }
}

.todo-list, .rss-feed{
  display: flex;
  flex-direction: column;
}

.add-todo-area{
  width: 100%;
  padding: 20px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  & #new-item{
    background: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 5px;
    color: $text-color;
    border-bottom: 3px solid $brand-color;

    &.dark-mode{
      color: $text-color-dark;
      border-bottom: 3px solid $brand-color-dark;
    }
  }
}

#todo-items,
#xml-tab,
#yard-tab, 
#premium-tab, 
#advice-tab,
#style-tab,
#pop-out-tab{
  width: 100%;
  height: 460px;
  padding: 0 10px;

  display: flex;
  flex-direction: column;

  overflow: scroll;
  
  li{
    width: 100%;
    padding: 10px;
    border: 3px solid $text-color;
    border-radius: 5px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      cursor: pointer;
      margin-right: 10px;
    }

    .fa-trash-can {
      margin-left: auto;
    }

    &.dark-mode{
      border: 3px solid $text-color-dark;
    }
  }
}

.todo-item{
  border: 3px solid $text-color;
  &.dark-mode{
    border: 3px solid $text-color-dark;
  }
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.tabs-nav{
  width: 100%;
  padding: 20px 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .tab-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    i{
      color: $brand-color;
      &.dark-mode{
        color: $brand-color-dark;
      }
    }

    p{
      color: $text-color;
      border-bottom: 3px solid $brand-color;

      &.dark-mode{
        color: $text-color-dark;
        border-bottom: 3px solid $brand-color-dark;
      }
    }
  }
}

/* Style the custom file upload button */
.custom-file-upload {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  background-color: $text-color; /* Optional: customize button background */
  border-radius: 4px;
  color: $background-color; /* Optional: customize icon color */
  font-size: 18px;
  width: 100%;
  height: 30px;

  &.dark-mode{
    background-color: $text-color-dark;
    color: $body-bg-dark;
  }
}

.custom-file-upload:hover {
  background-color: $brand-color;
  &.dark-mode{
    background-color: $brand-color-dark;
  }
}
