:root{
    --color-white : #fff;
    --color-black : #000000;
 }
 
 /*Universal Selector*/
 *{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
 }

  /*Type Selector*/
 header{
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    border: 3px solid var(--color-black);
    border-radius: 5px;
}

header img{
    width: 100px;
}

 /*Class Selector*/
.main_container{
    padding-top: 60px;
    display: flex;
}

.main_container div{
    margin-left: auto;
    margin-right: auto;
    width: stretch;
    padding-left: 20px;
    padding-right: 20px;
}

h2{
    text-align: center;
}

.content{
    border: 3px solid var(--color-black);
    box-shadow: 6px 7px 1px;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
}

table{
    width: 100%;
    margin-top: 20px;
}

td{
    padding: 5px 10px 5px 10px;
}

textarea{
    resize: none;
    border: 3px solid var(--color-black);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 /*Attribute Selector*/
[type=radio], input{
    accent-color: var(--color-black);
    border: 3px solid;
}

 /*ID Selector*/

#btn_table{
    margin: 0%;
    text-align: center;
}

#sub_btn{
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: 3px solid var(--color-black);  
    background-color: var(--color-white);
}

#res_btn{
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: 3px solid var(--color-black);
    background-color: var(--color-white);
}

:hover#sub_btn{
    background-color: var(--color-black);
    color: var(--color-white);
    border: 3px solid var(--color-black);
}

:hover#res_btn{
    background-color: var(--color-black);
    color: var(--color-white);
    border: 3px solid var(--color-black);
}

aside{
    height:max-content;
    width: auto;
}

aside ul li a{
    color: var(--color-black);
}

aside ul li{
    margin-top: 10px;
    list-style:circle inside;
}

footer{
    border: 3px solid var(--color-black);
    padding: 20px;
}

.footer1{
    margin: auto;
    width: max-content;
    text-align: center;
}

.footer1 ul{
    display: flex;
    justify-content: space-between;
}

.footer1 ul li, a{
    color: var(--color-black);
    text-decoration: underline;
}

.footer1 h5{
    padding-top: 5px;
    padding-bottom: 10px;
}

.op{
    opacity: 0.5;
}