<div class="links scroll">
        <a href="{{site.baseurl}}/"><i class="fa-solid fa-house-chimney fa-bounce"></i> Home</a>
        <a href="{{site.baseurl}}/resume/"><i class="fa-solid fa-file-lines fa-bounce"></i> Resume</a>
        <a href="{{site.baseurl}}/projects/"><i class="fa-solid fa-code-branch fa-bounce"></i> Projects</a>
        <a href="{{site.baseurl}}/certifications/"><i class="fa-solid fa-certificate fa-bounce"></i> Certifications</a>
        <a href="{{site.baseurl}}/blog/"><i class="fa-solid fa-newspaper fa-bounce"></i> Blog</a>
        <a href="{{site.baseurl}}/archive/"><i class="fa-solid fa-box-archive fa-bounce"></i> Archive</a>
</div>
