---
# layout: compress
title: 💻
<!-- permalink: /terminal/ -->
permalink: /💻/
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    {% seo %}

    {% include favicon.html %}

    {% include mathjax.html %}

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-462758aa1e172f82d39e1ea35e919e0a.css?vsn=d">
    <!-- Load fontawesome here for faster loadtimes: https://stackoverflow.com/a/35880730/9523246 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap" rel="stylesheet">
    <script
        type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body class="terminal-body" id="terminal-body">
    <div id="max-cover-img">
        <p id="cover-file-name" style="font-size:large;">../mp3-cover-47.gif 「零」</p>
        <img src="../assets/images/mp3-cover/mp3-cover-3001.gif" alt="" id="mp3-cover-img-max" class="mp3-cover-img">
        <h2 id="cover-countdown">00:00</h2>
    </div>
    <div class="terminal-nav">
        <div class="timer">
            <i class="fa-solid fa-hourglass-end fa-lg" id="hourglass"></i>
            <i class="fa-solid fa-bell fa-shake fa-lg" id="start-alarm-btn" style="display:none;"></i>
            <!-- <i class="fa-solid fa-bell-slash" id="stop-alarm-btn"></i> -->
            <div class="time-digit">
                <input type="number" id="hours" placeholder="00" min="0" max="99">
                <span>:</span>
                <input type="number" id="minutes" placeholder="00" min="0" max="59">
                <span>:</span>
                <input type="number" id="seconds" placeholder="00" min="0" max="59">
            </div>
            <div style="width: max-content; display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <i class="fa-solid fa-play" id="play-timer-btn"></i>
                    <i class="fa-solid fa-pause" id="pause-timer-btn" style="display:none;"></i>
                    <i class="fa-solid fa-stop" id="reset-timer-btn" style="display:none;"></i>
                </div>
            </div>
        </div>
        <div class="logo">
            <a class="none" href="{{site.baseurl}}/">
                <img id="mode-logo" src="/black-logo.png" alt="Logo" style="width: 50px;">
            </a>
        </div>
        <div class="mode-toggle rounded-social-buttons">
            <button id="accent-btn" class="social-button mode">
                <i class="fa-solid fa-dice-d20"
                    style="display: flex; justify-content: center; align-items: center;"></i>
            </button>

            <button id="mode-btn" class="social-button mode">
                <i class="fa-solid fa-sun mode-logo" id="mode-icon"
                    style="display: flex; justify-content: center; align-items: center;"></i>
            </button>

            <button id="theme-popover-btn" popoverTarget="themePopover" class="social-button mode">
                <i class="fa-solid fa-circle-half-stroke mode-logo" id="mode-icon"
                    style="display: flex; justify-content: center; align-items: center;"></i>
            </button>
            <div id="themePopover" popover>
                <div>
                    <div class="option-list option-list1">
                        <h1>Fonts</h1>
                        <ul>
                            <li>
                                <a href="#" class="fontItem" data-headerFontFamily='"Lato", "Helvetica Neue", Helvetica, sans-serif' data-textFontFamily="JetBrains Mono, monospace">Lato; Helvetica, JetBrains</a>
                            </li>
                            <li>
                                <a href="#" class="fontItem" data-headerFontFamily='"Barlow", sans-serif' data-textFontFamily="JetBrains Mono, monospace">Barlow, JetBrains</a>
                            </li>
                            <li>
                                <a href="#" class="fontItem" data-headerFontFamily='"Archivo", sans-serif' data-textFontFamily="JetBrains Mono, monospace">Archivo, JetBrains</a>
                            </li>
                            <li>
                                <a href="#" class="fontItem" data-headerFontFamily='"IBM Plex Sans Condensed", sans-serif' data-textFontFamily="JetBrains Mono, monospace">IBM Plex Sans Condensed, JetBrains</a>
                            </li>
                            <li>
                                <a href="#" class="fontItem" data-headerFontFamily='"Roboto", sans-serif' data-textFontFamily="JetBrains Mono, monospace">Roboto, JetBrains</a>
                            </li>
                        </ul>
                    </div>
                    <div class="option-showcase option-showcase1">
                        <h4 id="heading-display">Heading</h4>
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, distinctio.</h3>
                        <h4 id="text-display">Normal Text</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quaerat quod ipsam dolore ducimus perferendis quisquam cumque illo numquam est. Unde ipsam nisi optio sequi sed. Nemo praesentium iure quasi.</p>
                    </div>
                </div>
                <div>
                    <div class="option-list option-list2">
                        <h1>Theme</h1>
                        <div>
                            <div>
                                <h3>Light Mode</h3>
                                <ul>
                                    <li>
                                        <a href="#" class="themeItem" data-mode="light" data-theme="lightClassic" data-bgColor="#fdfdfd" data-bgColorRgb="253,253,253"
                                            data-textColor="#23272d" data-accentColor="#60c17d">Light Classic</a>
                                    </li>
                                    <li>
                                        <a href="#" class="themeItem" data-mode="light" data-theme="lightDarkYellow" data-bgColor="#fdfcf4" data-bgColorRgb="253, 252, 244"
                                            data-textColor="#231f05" data-accentColor="#e0c12a">Light Dark Yellow</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h3>Dark Mode</h3>
                                <ul>
                                    <li>
                                        <a href="#" class="themeItem" data-mode="dark" data-theme="darkClassic" data-bgColor="#23272d" data-bgColorRgb="35, 39, 45"
                                            data-textColor="#fdfdfd" data-accentColor="#c16560">Dark Classic</a>
                                    </li>
                                    <li>
                                        <a href="#" class="themeItem" data-mode="dark" data-theme="darkPurple" data-bgColor="#16031d" data-bgColorRgb="22, 3, 29"
                                            data-textColor="#f0d6fa" data-accentColor="#3be879">Dark Purple</a>
                                    </li>
                                    <li>
                                        <a href="#" class="themeItem" data-mode="dark" data-theme="darkCoffee" data-bgColor="#0d0c02" data-bgColorRgb="13, 12, 2"
                                            data-textColor="#faf6db" data-accentColor="#e2d689">Dark Coffee</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="option-showcase option-showcase2">
                        <div class="color-display">
                            <h4>Background Color</h4>
                            <div id="bg-display-color" class="color-item-display"></div>
                        </div>
                        <div class="color-display">
                            <h4>Text Color</h4>
                            <div id="text-display-color" class="color-item-display"></div>
                        </div>
                        <div class="color-display">
                            <h4>Accent Color</h4>
                            <div id="accent-display-color" class="color-item-display"></div>
                        </div>
                    </div>
                </div>
            </div>

            <button id="popover-btn" popoverTarget="qrPopover" class="social-button mode">
                <i class="fa-solid fa-qrcode mode-logo" id="mode-icon" style="display: flex; justify-content: center; align-items: center;"></i>
            </button>
            <div id="qrPopover" popover>
                <img src="/assets/images/qrBlack2.png" alt="" width="300px">
                <p>https://kevinpratamasetiawan.github.io/</p>
                <img src="/assets/images/barcode.png" alt="" width="300px">
            </div>
            
            <button id="save-popover-btn" popoverTarget="saves-popover" class="social-button mode">
                <i class="fa-solid fa-code fa-xs mode-logo" id="mode-icon" style="display: flex; justify-content: center; align-items: center;"></i>
            </button>

            <div id="saves-popover" popover>
                <h2 id="saves-popover-title">Local Storage Data</h2>
                <div class="save-nav">
                    <a href="#" id="get-btn"><span style="color: #6bdd9a;">GET</span></a>
                    <a href="#" id="put-btn">PUT</a>
                    <a href="#" id="del-btn">DEL</a>
                    <div>
                        <p id="method-link">https://kevinpratamasetiawan.github.io/💻/getSaveData</p>
                    </div>
                </div>
                <div id="get-setting">
                    <div class="save-option-nav">
                        <button id="saveData0" class="save-options" onclick="displayGetLocalStorage('all', 'setOne')">All</button>
                        <button id="saveData1" class="save-options" onclick="displayGetLocalStorage('theme', 'setOne')">Theme and Fonts</button>
                        <button id="saveData2" class="save-options" onclick="displayGetLocalStorage('todo', 'setOne')">To-do List Items</button>
                        <button id="saveData3" class="save-options" onclick="displayGetLocalStorage('yard', 'setOne')">The Yard RSS</button>
                        <button id="saveData4" class="save-options" onclick="displayGetLocalStorage('premium', 'setOne')">Premium RSS</button>
                        <button id="saveData5" class="save-options" onclick="displayGetLocalStorage('advice', 'setOne')">Advice Show RSS</button>
                        <button id="saveData6" class="save-options" onclick="displayGetLocalStorage('history', 'setOne')">MP3 Play History</button>
                        <button id="saveData7" class="save-options" onclick="displayGetLocalStorage('setting', 'setOne')">MP3 Setting</button>
                    </div>
                    <div class="save-display-area">
                        <div>
                            <h3>Output</h3>
                            <a href="#" id="save-copy"><i class="fa-solid fa-copy"></i> Copy</a>
                        </div>
                        <pre id="save-display" class="save-display"></pre>
                        <a href="#saves-popover-title" class="up-btn"><i class="fa-solid fa-angles-up"></i></a>
                    </div>
                </div>
                <div id="put-setting" style="display: none;">
                    <div>
                        <h3>Input</h3>
                        <a href="#" id="apply-save"><i class="fa-solid fa-floppy-disk"></i> Save Data</a>
                    </div>
                    <input type="text" id="input-box" contenteditable="true" placeholder="Paste Your Save Data Here...">
                    <pre id="input-display-box"></pre>
                </div>
                <div id="del-setting" style="display: none;">
                    <div class="save-option-nav">
                        <button id="saveData100" class="save-options" onclick="displayGetLocalStorage('all', 'setTwo')">All</button>
                        <button id="saveData101" class="save-options" onclick="displayGetLocalStorage('theme', 'setTwo')">Theme and Fonts</button>
                        <button id="saveData102" class="save-options" onclick="displayGetLocalStorage('todo', 'setTwo')">To-do List Items</button>
                        <button id="saveData103" class="save-options" onclick="displayGetLocalStorage('yard', 'setTwo')">The Yard RSS</button>
                        <button id="saveData104" class="save-options" onclick="displayGetLocalStorage('premium', 'setTwo')">Premium RSS</button>
                        <button id="saveData105" class="save-options" onclick="displayGetLocalStorage('advice', 'setTwo')">Advice Show RSS</button>
                        <button id="saveData106" class="save-options" onclick="displayGetLocalStorage('history', 'setTwo')">MP3 Play History</button>
                        <button id="saveData107" class="save-options" onclick="displayGetLocalStorage('setting', 'setTwo')">MP3 Setting</button>
                    </div>
                    <div class="save-display-area">
                        <div>
                            <h3>Output</h3>
                            <a href="#" id="del-save"><i class="fa-regular fa-trash-can"></i> Delete</a>
                        </div>
                        <pre id="del-display" class="save-display"></pre>
                        <a href="#saves-popover-title" class="up-btn"><i class="fa-solid fa-angles-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="todo-list">
            <h4>To-do List</h4>
            <div class="todo-clock">
                <!-- <span>|</span> -->
                <div id="todo-time">
                    <p id="time-digit"></p>
                    <p id="time-ampm"></p>
                </div>
                <span id="clock-lang">EN</span>
                <div id="todo-date">
                    <p id="date-day"></p>
                    <p id="date-digit"></p>
                </div>
                <!-- <span>|</span> -->
            </div>
            <div class="add-todo-area">
                <input type="text" id="new-item" placeholder="Add a new task...">
                <i class="fa-solid fa-plus fa-lg" id="add-item-btn"></i>
            </div>
            <div class="todo-listing">
                <details open>
                    <summary>    
                        <h5>
                            <i class="fa-solid fa-turn-up fa-rotate-90 fa-lg"></i>
                            <i class="fa-regular fa-folder-open"></i>
                            <i class="fa-solid fa-folder"></i>
                            Priority
                            <span id="priority-display-num">0</span>
                        </h5>
                    </summary>
                    <ul id="todo-priority"></ul>
                </details>
                <details open>
                    <summary>    
                        <h5>
                            <i class="fa-solid fa-turn-up fa-rotate-90 fa-lg"></i>
                            <i class="fa-regular fa-folder-open"></i>
                            <i class="fa-solid fa-folder"></i>
                            Task
                            <span id="items-display-num">0</span>
                        </h5>
                    </summary>    
                    <ul id="todo-items"></ul>
                </details>
                <details>
                    <summary>    
                        <h5>
                            <i class="fa-solid fa-turn-up fa-rotate-90 fa-lg"></i>
                            <i class="fa-regular fa-folder-open"></i>
                            <i class="fa-solid fa-folder"></i>
                            Completed
                            <span id="finish-display-num">0</span>
                        </h5>
                    </summary>    
                    <ul id="todo-finish"></ul>
                </details>
            </div>
        </div>
        <div class="music-list" id="mp3-section">
            <h4>Mp3 Player</h4>
            <div class="mp3-nav">
                <div class="tab-item">
                    <i class="fa-solid fa-record-vinyl fa-lg" id="ide-btn" style="display: none;"></i>
                    <p id="ide-label">Turntable</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-list fa-lg" id="queue-btn"></i>
                    <p id="queue-label" style="display: none;">Queue</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-clock-rotate-left fa-lg" id="history-btn"></i>
                    <p id="history-label" style="display: none;">History</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-sliders fa-lg" id="settings-btn"></i>
                    <p id="settings-label" style="display: none;">Settings</p>
                </div>
            </div>
            <ul id="queue-tab" style="display: none;"></ul>
            <div id="history-tab" style="display: none;">
                <details class="history-list-toggles">
                    <summary>
                        <p class="history-list-title">The Yard Last Played <span></span> <span id="yard-display-num">0</span>個</p>
                    </summary>
                    <ul id="yard-history-list" class="history-list">
                        <li>none</li>
                    </ul>
                </details>
                <details class="history-list-toggles">
                    <summary>
                        <p class="history-list-title">The Yard Premium Last Played <span></span> <span id="premium-display-num">0</span>個</p>
                    </summary>
                    <ul id="premium-history-list" class="history-list">
                        <li>none</li>
                    </ul>
                </details>
                <details class="history-list-toggles">
                    <summary>
                        <p class="history-list-title">Advice Show Last Played <span></span> <span id="advice-display-num">0</span>個</p>
                    </summary>
                    <ul id="advice-history-list" class="history-list">
                        <li>none</li>
                    </ul>
                </details>
                <details class="history-list-toggles">
                    <summary>
                        <p class="history-list-title">style.css Last Played <span></span> <span id="style-display-num">0</span>個</p>
                    </summary>
                    <ul id="style-history-list" class="history-list">
                        <li>none</li>
                    </ul>
                </details>
                <details class="history-list-toggles">
                    <summary>
                        <p class="history-list-title">thePopOut Last Played <span></span> <span id="popout-display-num">0</span>個</p>
                    </summary>
                    <ul id="popout-history-list" class="history-list">
                        <li>none</li>
                    </ul>
                </details>
            </div>
            <div id="mp3-player">
                <div class="mp3-cover">
                    <div class="hover-full-img" id="maximize-cover">
                        <svg data-v-9ba4cb7e="" data-v-2763eefc="" xmlns="http://www.w3.org/2000/svg" width="70%" height="70%" fill="none" viewBox="0 0 24 24" class="icon xLarge" style="color: rgb(255, 255, 255);"><path fill="currentColor" d="m9.5 13.09 1.41 1.41-4.5 4.5H10v2H3v-7h2v3.59zm1.41-3.59L9.5 10.91 5 6.41V10H3V3h7v2H6.41zm3.59 3.59 4.5 4.5V14h2v7h-7v-2h3.59l-4.5-4.5zM13.09 9.5l4.5-4.5H14V3h7v7h-2V6.41l-4.5 4.5z"></path></svg>
                    </div>
                    <img src="../assets/images/mp3-cover/mp3-cover-3001.gif" alt="" id="mp3-cover-img" class="mp3-cover-img">
                </div>
                <div class="mp3-title">
                    <h3 id="audioTitle">No Audio Played</h3>
                </div>
                <div class="duration-slider">
                    <p id="startDuration" class="start-slider-p">00:00</p>
                    <div class="slider-container">
                        <input type="range" name="mp3-duration" id="mp3-duration" class="mp3-slider" min="0" max="100" value="0">
                    </div>
                    <p id="endDuration" class="end-slider-p">00:00</p>
                </div>
                <div class="duration-slider" id="volume-slider-container" style="display: none;">
                    <p id="plus-volume" class="start-slider-p">+ 69%</p>
                    <div class="slider-container">
                        <input type="range" id="mp3-volume-control" class="mp3-slider" min="0" max="100" value="69" step="5">
                    </div>
                    <p id="minus-volume" class="end-slider-p">- 31%</p>
                </div>
                <div class="mp3-control">
                    <i class="fa-solid fa-arrow-down-a-z fa-xl"></i>
                    <i class="fa-solid fa-arrow-down-z-a fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-repeat fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-shuffle fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-backward-step fa-xl"></i>
                    <i class="fa-solid fa-backward fa-xl"></i>
                    <i class="fa-solid fa-circle-play fa-xl"></i>
                    <i class="fa-solid fa-circle-pause fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-forward fa-xl"></i>
                    <i class="fa-solid fa-forward-step fa-xl"></i>
                    <i class="fa-solid fa-volume-xmark fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-volume-off fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-volume-low fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-volume-high fa-xl" style="display: none;"></i>
                    <i class="fa-solid fa-ear-listen fa-xl"></i>
                </div>
            </div>
            <div id="settings-tab" style="display: none;">
                <p class="setting-item">Audio Speed</p>
                <div class="duration-slider">
                    <p class="start-slider-p">
                        <i class="fa-solid fa-gauge-high fa-flip-horizontal" id="fa-gauge-low" style="display: none;"></i>
                        <i class="fa-solid fa-gauge" id="fa-gauge-mid"></i>
                        <i class="fa-solid fa-gauge-high" id="fa-gauge-high" style="display: none;"></i>
                    </p>
                    <div class="slider-container">
                        <input type="range" class="mp3-slider" id="audio-speed-control" min="1" max="20" value="10" step="1">
                    </div>
                    <p class="end-slider-p" id="audio-speed-value-display">x1</p>
                </div>
                <p class="setting-item">Forward/Rewind Rate</p>
                <div class="duration-slider">
                    <p class="start-slider-p">
                        <i class="fa-solid fa-backward"></i>
                        <i class="fa-solid fa-forward"></i>
                    </p>
                    <div class="slider-container">
                        <input type="range" class="mp3-slider" id="fr-rate-control" min="1" max="12" value="3" step="1">
                    </div>
                    <p class="end-slider-p" id="fr-rate-value-display">15s</p>
                </div>
                <p class="setting-item">Cover Change Rate</p>
                <div class="duration-slider">
                    <p class="start-slider-p">
                        <i class="fa-solid fa-images"></i>
                        <i class="fa-solid fa-stopwatch"></i>
                    </p>
                    <div class="slider-container">
                        <input type="range" class="mp3-slider" id="cover-rate-control" min="1" max="10" value="3" step="1">
                    </div>
                    <p class="end-slider-p" id="cover-rate-value-display">30s</p>
                </div>
                <p class="setting-item">Cover Doctype</p>
                <div class="duration-slider">
                    <p class="start-slider-p">
                        <i class="fa-solid fa-file-image"></i>
                    </p>
                    <div class="slider-container">
                        <input type="range" class="mp3-slider" id="doctype-control" min="1" max="4" value="1" step="1">
                    </div>
                    <p class="end-slider-p" id="doctype-value-display">All</p>
                </div>
                <p class="setting-item">History Item per Playlist</p>
                <div class="duration-slider">
                    <p class="start-slider-p">
                        <i class="fa-solid fa-timeline"></i>
                    </p>
                    <div class="slider-container">
                        <input type="range" class="mp3-slider" id="history-item-control" min="5" max="30" value="5" step="5">
                    </div>
                    <p class="end-slider-p" id="history-value-display">5</p>
                </div>
            </div>
        </div>
        <div class="rss-feed">
            <h4>Playlist</h4>
            <div class="tabs-nav">
                <div class="tab-item">
                    <i class="fa-solid fa-1 close-tab tab-1 tab-btn" id="tab-1-btn" style="display:none;"></i>
                    <p id="tab-1-tag" class="close-tab tab-1">XML Link</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-2 close-tab tab-2 tab-btn" id="tab-2-btn"></i>
                    <p id="tab-2-tag" style="display:none;" class="close-tab tab-2">The Yard</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-3 close-tab tab-3 tab-btn" id="tab-3-btn"></i>
                    <p id="tab-3-tag" style="display:none;" class="close-tab tab-3">Premium</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-4 close-tab tab-4 tab-btn" id="tab-4-btn"></i>
                    <p id="tab-4-tag" style="display:none;" class="close-tab tab-4">Advice Show</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-5 close-tab tab-5 tab-btn" id="tab-5-btn"></i>
                    <p id="tab-5-tag" style="display:none;" class="close-tab tab-5">style.css</p>
                </div>
                <div class="tab-item">
                    <i class="fa-solid fa-6 close-tab tab-6 tab-btn" id="tab-6-btn"></i>
                    <p id="tab-6-tag" style="display:none;" class="close-tab tab-6">thePopOut</p>
                </div>
            </div>
            <ul id="xml-tab" class="close-tab tab-1">
                <li>
                    <a href="https://feeds.redcircle.com/6d74984c-7d4b-450a-b3f2-0c33ac972eac" target="_blank"
                        class="none">
                        <i class="fa-solid fa-link" id="link-1-btn"></i>
                        <i class="fa-solid fa-link fa-bounce" id="link-1-bounce" style="display:none;"></i>
                    </a>
                    <span>The Yard RSS Feed Link</span>
                    <i class="fa-solid fa-clipboard fa-lg" id="copy-1-btn"></i>
                    <i class="fa-solid fa-clipboard fa-bounce fa-lg" id="copy-1-bounce" style="display:none;"></i>
                </li>
                <li>
                    <a href="https://mogulmoves.rodeo/rss/yard" target="_blank" class="none">
                        <i class="fa-solid fa-link" id="link-2-btn"></i>
                        <i class="fa-solid fa-link fa-bounce" id="link-2-bounce" style="display:none;"></i>
                    </a>
                    <span>The Yard Premium RSS Feed Link</span>
                    <i class="fa-solid fa-clipboard fa-lg" id="copy-2-btn"></i>
                    <i class="fa-solid fa-clipboard fa-bounce fa-lg" id="copy-2-bounce" style="display:none;"></i>
                </li>
                <li>
                    <a href="https://mogulmoves.rodeo/rss/yardadvice" target="_blank" class="none">
                        <i class="fa-solid fa-link" id="link-3-btn"></i>
                        <i class="fa-solid fa-link fa-bounce" id="link-3-bounce" style="display:none;"></i>
                    </a>
                    <span>The Advice Show RSS Feed Link</span>
                    <i class="fa-solid fa-clipboard fa-lg" id="copy-3-btn"></i>
                    <i class="fa-solid fa-clipboard fa-bounce fa-lg" id="copy-3-bounce" style="display:none;"></i>
                </li>
            </ul>
            <ul id="yard-tab" style="display:none;" class="close-tab tab-2">
                <li style="padding: 0 10px; border: none; gap: 10px;" class="io-item">
                    <label for="fileInputYard" class="custom-file-upload">
                        <i class="fa-solid fa-file-arrow-up fa-lg"></i>
                    </label>
                    <input type="file" id="fileInputYard" accept=".xml" style="display:none;">
                    <label for="fileClearYard" class="custom-file-upload">
                        <i class="fa-solid fa-dumpster fa-lg" id="fileClearYard"></i>
                    </label>
                </li>
            </ul>
            <ul id="premium-tab" style="display:none;" class="close-tab tab-3">
                <li style="padding: 0 10px; border: none; gap: 10px;" class="io-item">
                    <label for="fileInputPremium" class="custom-file-upload">
                        <i class="fa-solid fa-file-arrow-up fa-lg"></i>
                    </label>
                    <input type="file" id="fileInputPremium" accept=".xml" style="display:none;">
                    <label for="fileClearPremium" class="custom-file-upload">
                        <i class="fa-solid fa-dumpster fa-lg" id="fileClearPremium"></i>
                    </label>
                </li>
            </ul>
            <ul id="advice-tab" style="display:none;" class="close-tab tab-4">
                <li style="padding: 0 10px; border: none; gap: 10px;" class="io-item">
                    <label for="fileInputAdvice" class="custom-file-upload">
                        <i class="fa-solid fa-file-arrow-up fa-lg"></i>
                    </label>
                    <input type="file" id="fileInputAdvice" accept=".xml" style="display:none;">
                    <label for="fileClearAdvice" class="custom-file-upload">
                        <i class="fa-solid fa-dumpster fa-lg" id="fileClearAdvice"></i>
                    </label>
                </li>
            </ul>

            {% assign mp3_metadata = site.data.mp3_metadata.playlist1 %}
            <ul id="style-tab" style="display:none;" class="close-tab tab-5">
                {% assign counter = 1 %}
                {% assign ticketNum = 0 %}
                {% for mp3 in mp3_metadata %}
                {% assign file = site.static_files | where: "path", mp3.url | first %}
                <li class="mp3-container">
                    <a href="#mp3-section" data-url="{{ file.path }}" data-ticketNum="{{ ticketNum }}" data-tabType="style-tab" class='none play'>
                    <i class="fa-solid fa-play"></i>
                </a>
                <div class="mp3-title-date">
                    <h3>{{ mp3.title }}</h3>
                        <p>{{ mp3.artist }}</p>
                    </div>
                    <div class='mp3-number-duration'>
                        <p class='mp3-numbers'>#{{ counter | prepend: '000' | slice: -3,3 }}</p>
                        <p>{{ mp3.duration }}</p>
                    </div>
                </li>
                {% assign counter = counter | plus: 1 %}
                {% assign ticketNum = ticketNum | plus: 1 %}
                {% if file %}
                {% else %}
                <li class="mp3-container">File {{ mp3.url }} not found.</li>
                {% endif %}
                {% endfor %}
            </ul>

            {% assign mp3_metadata = site.data.mp3_metadata.thePopOut %}
            <ul id="pop-out-tab" style="display:none;" class="close-tab tab-6">
                {% assign counter = 1 %}
                {% assign ticketNum = 0 %}
                {% for mp3 in mp3_metadata %}
                {% assign file = site.static_files | where: "path", mp3.url | first %}
                <li class="mp3-container">
                    <a href="#mp3-section" data-url="{{ file.path }}" data-ticketNum="{{ ticketNum }}" data-tabType="pop-out-tab" class='none play'>
                    <i class="fa-solid fa-play"></i>
                    </a>
                    <div class="mp3-title-date">
                        <h3>{{ mp3.title }}</h3>
                        <p>{{ mp3.artist }}</p>
                    </div>
                    <div class='mp3-number-duration'>
                        <p class='mp3-numbers'>#{{ counter | prepend: '000' | slice: -3,3 }}</p>
                        <p>{{ mp3.duration }}</p>
                    </div>
                </li>
                {% assign counter = counter | plus: 1 %}
                {% assign ticketNum = ticketNum | plus: 1 %}
                {% if file %}
                {% else %}
                <li class="mp3-container">File {{ mp3.url }} not found.</li>
                {% endif %}
                {% endfor %}
            </ul>

            </ul>

            <!-- KEEP! : Funtion to extract audio duration -->
            <!-- <div id="audio-files" style="display:none;">
                    {% assign mp3_metadata = site.data.mp3_metadata.playlist1 %}
                    {% for mp3 in mp3_metadata %}
                      {% assign file = site.static_files | where: "name", mp3.name | first %}
                      <span data-path="{{ file.path }}"></span>
                    {% endfor %}
                </div>                   -->
        </div>
    </div>

    {% include analytics.html %}
    
    <script type="module" src="/script/mp3Player.js"></script>
    <script type="module" src="/script/timer.js"></script>
    <script type="module" src="/script/modeToggle.js"></script>
    <script type="module" src="/script/todo.js"></script>
    <script type="module" src="/script/rssFeeds.js"></script>
    <script type="module" src="/script/localStorageSave.js"></script>
    
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/../../../script/service-worker.js');
        }
    </script>
</body>


</html>