---
# layout: compress
---
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        <div style="margin: 0; padding: 0;">
            <h1 class="post-headline">{{site.title}}</h1>
            <h3 class="post-description">{{site.description}}</h3>
            
            {% include navigation.html %}
            
            {% seo %}
            
            {% include favicon.html %}
            
            {% include mathjax.html %}
        </div>

        <!-- Load fontawesome here for faster loadtimes: https://stackoverflow.com/a/35880730/9523246 -->
        <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    </head>

    <body>
        <main>
            <article>
                {{ content }}
            </article>
        </main>

        <footer>
          <p class="copy">
            <p style="display: flex; justify-content: space-around; align-items: center;"> 
                <small style="width: 275px; text-align: center;">&copy;{{site.title}} {{ site.time | date: '%Y' }}</small>
                <small> | </small>
                <a class="none" href="{{site.baseurl}}/🔑/">
                    <img src="/favicon2.png" alt="Logo" style="width: 50px;">
                </a>
                <small> | </small>
                <small style="width: 275px; text-align: center;">
                    Last updated on {{ site.time | date_to_long_string }}
                </small>
            </p>
          </p>

        {% include social-footer.html %}

        </footer>

        {% include analytics.html %}

        <i class="fa-solid fa-paint-roller"></i>
        <i class="fa-solid fa-palette"></i>
        <i class="fa-solid fa-user-secret"></i>
    </body>

</html>
