---
# layout: compress
---
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        <div style="margin: 0; padding: 0;">
            <h1 class="post-headline">{{site.title}}</h1>
            <h3 class="post-description">{{site.description}}</h3>
            
            {% include navigation.html %}
            
            {% seo %}
            
            {% include favicon.html %}
            
            {% include mathjax.html %}
        </div>

        <!-- Load fontawesome here for faster loadtimes: https://stackoverflow.com/a/35880730/9523246 -->
        <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>

    <body>
        <main>
            <article>
                {{ content }}
            </article>
        </main>

        <footer>
          <p class="copy">
            <p style="display: flex; justify-content: space-around; align-items: center;"> 
                <small style="width: 275px; text-align: center;">&copy;{{site.title}} {{ site.time | date: '%Y' }}</small>
                <small> | </small>
                <a class="none" href="{{site.baseurl}}/🔑/">
                    <img id="mode-logo" src="/black-logo.png" alt="Logo" style="width: 50px;">
                </a>
                <small> | </small>
                <small style="width: 275px; text-align: center;">
                    Last updated on {{ site.time | date_to_long_string }}
                </small>
            </p>
          </p>

        {% include social-footer.html %}

        </footer>

        {% include analytics.html %}
    </body>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.getElementById('mode-btn');
            const certCategory = document.getElementByClass('cert-category');
            const body = document.body;
            const docA = document.a;
            const docP = document.p;
            const docPre = document.pre;
            const docCode = document.code;
            const docBlockquote = document.blockquote;
            const logo = document.getElementById('mode-logo');
    
            // Check for saved mode in local storage on page load
            const savedMode = localStorage.getItem('mode');
            if (savedMode === 'dark-mode') {
                body.classList.add('dark-mode');
                docA.classList.add('dark-mode');
                docP.classList.add('dark-mode');
                docPre.classList.add('dark-mode');
                docCode.classList.add('dark-mode');
                docBlockquote.classList.add('dark-mode');
                certCategory.classList.add('dark-mode');
                logo.src = '/white-logo.png'; // Change to white logo in dark mode
            } else {
                logo.src = '/black-logo.png'; // Default to black logo in light mode
            }
    
            toggleButton.addEventListener('click', () => {
                body.classList.toggle('dark-mode');
    
                // Save the current mode to local storage
                if (body.classList.contains('dark-mode')) {
                    localStorage.setItem('mode', 'dark-mode');
                    logo.src = '/white-logo.png'; // Change to white logo in dark mode
                } else {
                    localStorage.removeItem('mode');
                    logo.src = '/black-logo.png'; // Change to black logo in light mode
                }
            });
        });
    </script>  
      
</html>
