---
# layout: compress
---
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        {% seo %}

        {% include favicon.html %}

        {% include mathjax.html %}

        <link rel="manifest" href="../site.webmanifest">

        <!-- Load fontawesome here for faster loadtimes: https://stackoverflow.com/a/35880730/9523246 -->
        <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>

    <body>
        <main>
            <article>
                {{ content }}
            </article>
        </main>

        {% include analytics.html %}

    </body>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.getElementById('mode-btn');
            const body = document.body;
            const logo = document.getElementById('mode-logo');
            
            // Select all elements that need dark mode styling
            const certCategories = document.querySelectorAll('.cert-category');
            const links = document.querySelectorAll('a');
            const paragraphs = document.querySelectorAll('p');
            const preBlocks = document.querySelectorAll('pre');
            const codes = document.querySelectorAll('code');
            const blockquotes = document.querySelectorAll('blockquote');
            const passwordInputs = document.querySelectorAll('.password'); // Select all password inputs
            const socialButtons = document.querySelectorAll('.social-button'); // Select all social buttons
    
            // Check for saved mode in local storage on page load
            const savedMode = localStorage.getItem('mode');
            if (savedMode === 'dark-mode') {
                body.classList.add('dark-mode');
                logo.src = '/white-logo.png'; // Change to white logo in dark mode
    
                // Apply dark mode class to all relevant elements
                links.forEach(link => link.classList.add('dark-mode'));
                paragraphs.forEach(p => p.classList.add('dark-mode'));
                preBlocks.forEach(pre => pre.classList.add('dark-mode'));
                codes.forEach(code => code.classList.add('dark-mode'));
                blockquotes.forEach(blockquote => blockquote.classList.add('dark-mode'));
                certCategories.forEach(certCategory => certCategory.classList.add('dark-mode'));
                passwordInputs.forEach(input => input.classList.add('dark-mode')); // Add dark mode class to password inputs
                socialButtons.forEach(button => button.classList.add('dark-mode')); // Add dark mode class to social buttons
            } else {
                logo.src = '/black-logo.png'; // Default to black logo in light mode
            }
    
            toggleButton.addEventListener('click', () => {
                body.classList.toggle('dark-mode');
                
                // Save the current mode to local storage
                if (body.classList.contains('dark-mode')) {
                    localStorage.setItem('mode', 'dark-mode');
                    logo.src = '/white-logo.png'; // Change to white logo in dark mode
                    
                    // Apply dark mode class to all relevant elements
                    links.forEach(link => link.classList.add('dark-mode'));
                    paragraphs.forEach(p => p.classList.add('dark-mode'));
                    preBlocks.forEach(pre => pre.classList.add('dark-mode'));
                    codes.forEach(code => code.classList.add('dark-mode'));
                    blockquotes.forEach(blockquote => blockquote.classList.add('dark-mode'));
                    certCategories.forEach(certCategory => certCategory.classList.add('dark-mode'));
                    passwordInputs.forEach(input => input.classList.add('dark-mode')); // Add dark mode class to password inputs
                    socialButtons.forEach(button => button.classList.add('dark-mode')); // Add dark mode class to social buttons
                } else {
                    localStorage.removeItem('mode');
                    logo.src = '/black-logo.png'; // Change to black logo in light mode
                    
                    // Remove dark mode class from all relevant elements
                    links.forEach(link => link.classList.remove('dark-mode'));
                    paragraphs.forEach(p => p.classList.remove('dark-mode'));
                    preBlocks.forEach(pre => pre.classList.remove('dark-mode'));
                    codes.forEach(code => code.classList.remove('dark-mode'));
                    blockquotes.forEach(blockquote => blockquote.classList.remove('dark-mode'));
                    certCategories.forEach(certCategory => certCategory.classList.remove('dark-mode'));
                    passwordInputs.forEach(input => input.classList.remove('dark-mode')); // Remove dark mode class from password inputs
                    socialButtons.forEach(button => button.classList.remove('dark-mode')); // Remove dark mode class from social buttons
                }
            });
        });
    </script>    
</html>
